body {
	font-family: Arial;
}

h1 {
	font-size: 99px;
	text-align: center;
	font-family: Manjari;
  margin-bottom: 0px;
}

.bar {
	position: relative;
	padding: 10px;
	text-align: right;
	height: 2em;
	margin-bottom: 1em;
}

.link a {
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-size: 13px;
}

.link a:hover {
	text-decoration: underline;
}

#Advanced_Search {
	margin-right: 1em;
}

#Search {
	margin-right: 1em;
}

#signin {
	font-family: Arial;
	border: 1px solid transparent;
	background-color: #1a73e8;
	color: white;
	padding: 0.5em 0.5em;
	border-radius: 4px;
	font-size: 14px;
	text-decoration: none;
	padding: 9px 23px;
	letter-spacing: 0.25px;
}

#signin:hover {
	box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
}

.search {
	font-family: Arial;
	width: 510px;
	height: 20px;
	padding: 13px 20px;
	border: 1px solid #DFDFDF;
	border-radius: 20em;
	font-size: 17px;
}

.search:hover {
	box-shadow: 0 2px 4px 0 #dfe1ef
}

img[src="googlelogo.png"] {
	margin-top: 0;
}


button img {
	height: 20px;
}

.search input {
	border: none;
	width: 460px;
	font-size: 15px;
	right: 255px;
	top: 15.2em;
}

.search input, .search button {
	float: left;
	font-family: Arial;
}

.search button {
	border: none;
	background-color: white;
}

.extra {
	text-align: center;
	padding: 1em;
	margin-top: 0.5em;
}

.extra-item {
  margin-right: 0.5em;
	text-decoration: none;
	background-color: #f8f9fa;
	border: 1px solid #f8f9fa;
	border-radius: 4px;
	padding: 0.5em 1em;
	font-size: 14px;
	color: #3c4043;
}

#languages {
	text-align: center;
}

#blue-heading {
	color: #4285f4;
	font-family: arial;
	position: absolute;
  right: 370px;
	top: 9em;
}